@import url('https://fonts.googleapis.com/css2?family=Zhi+Mang+Xing&display=swap');

/*
h1#site-title {
    font-family: 'Zhi Mang Xing', cursive;
}
*/

/* 自定义字体引入 */
@font-face{
    font-family:'qtbfsxtFont' ;  /* 字体名自定义即可 */
    src:url('/wv-blog/font/千图笔锋手写体.ttf'); 
    font-display: swap;
}

@font-face{
    font-family:'MaShanZheng-Regular-Font' ;  /* 中文字体 */
    src:url('/wv-blog/font/MaShanZheng-Regular.ttf'); 
    font-display: swap;
}

@font-face{
    font-family:'AkayaTelivigala-Regular-Font' ;  /* 英文字体 */
    src:url('/wv-blog/font/AkayaTelivigala-Regular.ttf'); 
    font-display: swap;
}

/* 站点 title */
h1#site-title {
    font-family: 'qtbfsxtFont', sans-serif ; /* 定义多个备用字体，如果主题包没有字体支持则自下寻找 */
}

/* 设置全站样式 */
body,
html{
    /* 英文字体样式先定义，中文字体样式后定义，网页会按指定顺序进行渲染，如果指定则字体符号的样式则顺延至下一个校验 */
    font-family: 'AkayaTelivigala-Regular-Font','MaShanZheng-Regular-Font', cursive;
    font-size: 18px;
}

/* 全局默认鼠标指针 */
body,
html{
  cursor: url('https://cdn.jsdelivr.net/gh/holic-x/cdn-repo/wv-blog/assets/cur/ComixCursors/Pointer.cur'),auto !important;
}

/* 悬停图片时的鼠标指针 */
img{
  cursor: url('https://cdn.jsdelivr.net/gh/holic-x/cdn-repo/wv-blog/assets/cur/ComixCursors/Cross.cur'),auto !important;
}
/* 选择链接标签时的鼠标指针 */
a:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/holic-x/cdn-repo/wv-blog/assets/cur/ComixCursors/Link.cur'),auto;
}
/* 选中输入框时的鼠标指针 */
input:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/holic-x/cdn-repo/wv-blog/assets/cur/ComixCursors/Text.cur'),auto;
}
/* 悬停按钮时的鼠标指针 */
button:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/holic-x/cdn-repo/wv-blog/assets/cur/ComixCursors/Pointer.cur'),auto;
}
/* 悬停列表标签时的鼠标指针 */
i:hover{
    cursor: url('https://cdn.jsdelivr.net/gh/holic-x/cdn-repo/wv-blog/assets/cur/ComixCursors/Link.cur'),auto;
}
/* 悬停页脚链接标签（例如页脚徽标）时的鼠标指针 */
#footer-wrap a:hover{
      cursor: url('https://cdn.jsdelivr.net/gh/holic-x/cdn-repo/wv-blog/assets/cur/ComixCursors/Link.cur'),auto;
}
/* 悬停页码时的鼠标指针 */
#pagination .page-number:hover{
      cursor: url('https://cdn.jsdelivr.net/gh/holic-x/cdn-repo/wv-blog/assets/cur/ComixCursors/Link.cur'),auto;
}
/* 悬停菜单栏时的鼠标指针 */
#nav .site-page:hover{
      cursor: url('https://cdn.jsdelivr.net/gh/holic-x/cdn-repo/wv-blog/assets/cur/ComixCursors/Link.cur'),auto;
}


/* ------------------------------------ 主题修改相关 ------------------------------------ */

/* 主题隐藏按钮控制(原展开后不可再次隐藏)，现调整隐藏按钮显示 */
.hide-block>a.hide-button.open, .hide-inline>a.hide-button.open {
    display: inline-block;
}
